
a {
  cursor: pointer;
}

html,
body {
  /*background: #D6D6CE;*/
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 10px;
  padding: 0;
  width: 100%;
}

label, select, option {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Blinker';
}

h5 {
    text-align: center;
}

.sequence {
    font-weight: 700;
}

p, li {
    font-family: 'Blinker';
    font-size: 14px;
}

