
a {
  cursor: pointer;
}

html,
body {
  /*background: #D6D6CE;*/
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 10px;
  padding: 0;
  width: 100%;
}

label, select, option {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Blinker';
    text-align: center;
}

.sequence {
    font-weight: 700;
}


p, li {
    font-family: 'Blinker';
    font-size: 14px;
}

.tooltip {
    background-color: white;
    border: 1px solid black;
    padding: 3px 8px;
    border-radius: 3px;
}

#viz3 svg {
    display: block;
    margin: auto;
}

#viz3-options {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.viz3-opt {
    margin: 5px;
}
